@page
@model IDCardDemo.Pages.Holders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@Html.AntiForgeryToken()

<h1>Details</h1>

<div>
    <h4>Holder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Holder.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Holder.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.MI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Holder.MI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Holder.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Holder.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Holder.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.EyeColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Holder.EyeColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.SignaturePath)
        </dt>
        <dd class="col-sm-10">
            <img src="../photos/@Html.DisplayFor(model => model.Holder.SignaturePath)" alt=@Html.DisplayFor(model => model.Holder.SignaturePath) />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.PDF417Path)
        </dt>
        <dd class="col-sm-10">
            <img src="../photos/@Html.DisplayFor(model => model.Holder.PDF417Path)" alt=@Html.DisplayFor(model => model.Holder.PDF417Path) />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Holder.PhotoPath)
        </dt>
        <dd class="col-sm-10">
            <img src="../photos/@Html.DisplayFor(model => model.Holder.PhotoPath)" alt=@Html.DisplayFor(model => model.Holder.PhotoPath) />
        </dd>
    </dl>
</div>
<div>
    <form asp-page-handler="PrintCard" method="post">
        <button formtarget="_blank">Print Card</button>
        <input type="hidden" name="id" value="@Model.Holder.ID" />
        <input asp-for="Holder.PhotoPath" class="form-control" hidden readonly />
        <input asp-for="Holder.SignaturePath" class="form-control" hidden readonly />
        <input asp-for="Holder.PDF417Path" class="form-control" hidden readonly />
    </form>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Holder.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
